* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: blue;
}

/* Desktop Nav */

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: center;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style-type: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: darkgray;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* SECTIONS */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section_pic-container {
    display: flex;
    margin: auto 0;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.section_pic-container img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.section_pic-container:hover{
    transform: scale(1.05);
    box-shadow: 0 0px 10px 10px rgba(75, 28, 66);
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    color: black;
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
    font-size: 1.55rem;
    margin-bottom: .5rem;
}

.title {
    font-size: 4rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICON */

.icon {
    cursor: pointer;
    height: 2rem;
}


/* ABOUT SECTION */

#about{
    padding: 80px 0;
    color: blue;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: black;
}

.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: gray;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: black;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}