@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: white;
}

a,
.btn {
    transition: all 300ms ease;
}

/* Desktop Nav */

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: #234E70;
}

.nav-links {
    gap: 2rem;
    list-style-type: none;
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: #FBF8BE;
}

a:hover {
    color: #FBF8BE;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #FBF8BE;
}

.logo {
    font-size: 2rem;
    color: white;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER NAV */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;

}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

}

@media screen and (max-width: 1200px) {
    #home {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #profile,
    .section-container {
        display: block;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {

    #contact,
    footer {
        height: 40vh;
    }

    #home {
        max-width: 500px;
        margin: auto;
    }

    #about {
        max-width: 400px;
        margin: auto;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        height: 1%;
    }

    .about-col-2 {
        font-size: 4px;
    }

    .about-col-2 p {
        font-size: 10px;
    }
    h1.sub-title {
        font-size: 1rem;
    }


    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    .tab-contents{
        font-size: 10px;
    }
    #profile {
        height: 83vh;
        margin: auto;
    }

    #contact {
        margin: auto;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-container,
    .contact-info-upper-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
    background-color: #234E70;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}



/* SECTIONS */
section {
    padding-top: 5vh;
    height: 95vh;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    background-color: #FBF8BE;
}

.section_pic-container {
    display: flex;
    margin: auto 0;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.section_pic-container img {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.section_pic-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 10px 10px #234E70;
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    color: black;
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
    font-size: 1.55rem;
    margin-bottom: .5rem;
}

.section_text_p2 {
    font-size: 2rem;
}

.title {
    font-size: 4rem;
    text-align: left;
    color: #234E70;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(18),
    cursor .4s step-end infinite alternate
}

@keyframes cursor {
    50%{border-color: transparent;}
}

@keyframes typing {
    from{width: 0;}
}
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICON */

.icon {
    cursor: pointer;
    height: 2rem;
}


/* ABOUT SECTION */


#about {
    padding: 80px 0;
    color: white;
    background-color: #234E70;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    margin-left: 3%;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.about-col-1 img {
    width: 100%;
    height: 100%;
    filter: grayscale(.4);
    transition: .3s;
}

.about-col-1 img:hover {
    filter: grayscale(0);
    transform: scale(1.1) rotate(7deg);
}


.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    margin-right: 5%;
}

.sub-title {
    font-size: 3.75rem;
    font-weight: 600;
    color: #FBF8BE;
}

.tab-titles {
    display: flex;
    margin: 1.25rem 0rem 1.5rem;
}

.tab-links {
    margin-right: 3.125rem;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    color: #FBF8BE;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 0.188rem;
    background: #FBF8BE;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 0.9rem 0;
    font-size: 1.2rem;
}

.tab-contents ul li span {
    font-weight: bold;
    color: #FBF8BE;
    font-size: 1.5rem;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* CONTACT SECTION */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    background-color: #FBF8BE;
}

#contact p {
    color: #234E70;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-info-container a {
    color: #234E70;
}
.contact-info-container a:hover{
    color: #234E70;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #234E70;
} 

.contact-icon {
    cursor: default;
}
.contactTitle{
    text-align: center;
    font-size: 4rem;
}
/* FOOTER SECTION */

footer {
    height: 17vh;
}

footer p {
    text-align: center;
    background-color: #234E70;
    color: white;
}

.footer-nav-links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    font-size: 1.5rem;
}

.copyright {
    font-size: 2rem;
}